.font-loader {
  font-family: 'UnifrakturCook';
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inLineRow{
  display: table-cell;
  padding: 1em;
  float: left;
}

.scroller {
  float: left;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
  width: 384px;
  margin-top: 10px;
  border: 1px solid #999;
  overflow-x: hidden;
}

.settings{
  float: left;
  display: table-cell;
  font-family: var(--main-font);
}

.scroller > div{
  color: #000;
  text-align: left;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  margin-left: 4px;
}

.wrapper {
  display: table-row;
}

.board-row > div {
  white-space: nowrap;
  display: inline;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

:root {
  --main-font: UnifrakturCook;
}

.name {
  border: 1px solid #999;
  float: left;
  font-size: 27px;
  /*font-weight: bold;*/
  line-height: 39px;
  height: 39px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 256px;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.textInputBig {
  font-size: 27px;
  font-weight: bold;
  line-height: 39px;
  height: 39px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 384px;
  font-family: var(--main-font);
}

.textInput {
  font-family: var(--main-font);
  margin-top: 5px;
  margin-left: 5px;
}

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  height: 26px;
  margin-right: -1px;
  margin-top: -1px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0px;
  text-align: center;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.square {
  border: 1px solid #999;
  float: left;
  font-size: 27px;
  /*font-weight: bold;*/
  line-height: 39px;
  height: 39px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 39px;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cards {
  border: 1px solid #999;
  float: left;
  font-size: 27px;
  /*font-weight: bold;*/
  line-height: 39px;
  height: 39px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.bonus {
  float: left;
  font-size: 27px;
  font-weight: bold;
  line-height: 39px;
  height: 39px;
  margin-right: -1px;
  margin-top: -1px;
  margin-left: 12px;
  padding: 0;
  text-align: left;
  width: 102px;
  font-family: var(--main-font);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.frak {
  font-family: var(--main-font);
}

.gear {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 27px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.center {
  display: flex; 
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
